-r requirements.txt
-r requirements-plot.txt

yfinance
pytz
mt5linux @ git+https://github.com/AwesomeTrading/mt5linux.git@master
python-dotenv
python-telegram-bot
tqdm
ccxt==4.3.36

# conda install -c conda-forge ta-lib
TA-Lib
pandas-ta==0.3.14b0
technical==1.4.3
