black
markdown-exec[ansi]
mkdocs
mkdocs-autorefs
mkdocs-callouts
mkdocs-coverage
mkdocs-get-deps
mkdocs-git-committers-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-techdocs-redirects
mkdocs-gen-files
mkdocs-literate-nav
mkdocstrings[python]
mkdocstrings-crystal
mkdocstrings-python
pymdown-extensions